<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 1rem;

            & > h1{
                font-size: 6rem;
                margin-bottom: .5rem;
            }

            & > form{
                & > button{
                    font-size: 2.5rem;
                    padding: .5rem 1.5rem;
                    border-radius: .5rem;
                    cursor: pointer;
                    margin-bottom: 1rem;
                }
            }
        }
    </style>
</head>
<body>
    <h1>Hi <%= name %></h1>
    <form action="/logout">
        <button type="submit">Logout</button>
    </form>
</body>
</html>