<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(locals.error) { %>
        <div style="max-width: 500px; margin: 0 auto;">
            <strong style="color: red;"><%= locals.error %></strong>
        </div>
    <% } %>
    <form method="post" style="max-width: 500px; margin: 0 auto; display: grid; grid-template-columns: auto 1fr; gap: .3rem .5rem;">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter password" required>
        <button type="submit" style="grid-column: span 2;">Download</button>
    </form>
</body>
</html>